################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/orichi-dotnet-demo
/orichi-dotnet-demo/obj
/orichi-dotnet-demo/bin/Debug/net8.0
